<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CNU Class Scheduler</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  	<!-- MDL -->
    <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  	<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSV decode -->
    <script src="http://papaparse.com/resources/js/papaparse.js"></script>

    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <div id="classapp">
      <div>
        <button v-on:click="genClass" class="mdl-button mdl-js-button mdl-button--raised">Add Classes</button>
      </div>
      <br/>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
          <tr>
            <th>CRN</th>
            <th>Course</th>
            <th>Section</th>
            <th>Title</th>
            <th>Hours</th>
            <th>Area of LLC</th>
            <th>Type</th>
            <th>Days</th>
            <th>Time</th>
            <th>Location</th>
            <th>Instructor</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cls in classes">
            <td>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{task.crn}}">
                <input type="checkbox" id="checkbox-{{cls.crn}}" class="mdl-checkbox__input" v-model="false" />
              </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.crn }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.cour }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.sect }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.titl }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.hour }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.area }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.type }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.days }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.time }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.loct }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ cls.ints }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js'></script>
    <script src="js/index.js"></script>
  </body>
</html>
